.helptip {
    position: relative;
    display: inline-flex;
    z-index: 98;
    cursor: pointer;
    width: auto;
    vertical-align: middle;
    svg.icon-button__svg.icon-button__svg--small {
        width: 24px;
        height: 24px;
    }
}

.helptip:before {
    position: absolute;
    content: '';
    top: -10px;
    right: -10px;
    left: -10px;
    bottom: -10px;
    z-index: 40;
}

.helptip__box {
    position: absolute;
    padding: 0.5rem;
    @include themify($themes) {
        background: themed('moduleBackgroundColor');
    }
    border: 1px solid;
    @include themify($themes) {
        border-color: themed('colorAccentReverse');
    }
    @include themify($themes) {
        color: themed('textColorPrimary');
    }
    top: calc(100% + 1rem);
    left: -8rem;
    width: max-content;
    max-width: 75vw;
    @include MQ(M) {
        min-width: 150px;
    }
    @include MQ(L) {
        min-width: 200px;
    }
    p {
        font-size: 0.875rem;
        font-weight: normal;
        text-shadow: none;
        text-align: left;
        padding: 0;
        margin: 0 0 0 0;
    }
    strong {
        font-weight: bold;
    }
    a {
        @extend .link;
        @extend .link--accent;
    }
}

.helptip__box:after,
.helptip__box:before {
    top: 0;
    left: 8rem;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform: translateY(-100%);
}

.helptip__box:after {
    @include themify($themes) {
        border-bottom-color: themed('moduleBackgroundColor');
    }
    border-width: 10px;
    margin-left: -5px;
}

.helptip__box:before {
    @include themify($themes) {
        border-bottom-color: themed('colorAccentReverse');
    }
    border-width: 11px;
    margin-left: -6px;
}
